name: Linux Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build_type: [ Debug, Release ]
        include:
          - build_type: Debug
            zip_name: game.linux.debug
          - build_type: Release
            zip_name: game.linux.release

    env:
      BUILD_TYPE: ${{ matrix.build_type }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache Dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.strings.outputs.build-output-dir }}/_deps
        key: ${{ matrix.build_type }}-${{ matrix.c_compiler }}-deps-${{ hashFiles('**/.git/HEAD') }}

    - name: Install Packages
      run: sudo apt-get update && sudo apt install -y libsdl2-dev libsdl2-mixer-dev libcglm-dev libglew-dev python3-pil glslc libxcb1-dev libx11-dev libxrandr-dev libwayland-dev libdirectfb-dev cmake gcc

    - name: Configure & Build
      run: bash BuildForDistribution.sh "build-${{ matrix.build_type }}" ${{ matrix.build_type }}

    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.zip_name }}
        path: |
          build-${{ matrix.build_type }}/out/
        retention-days: 90

