name: Windows Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        build_type: [ Debug, Release ]
        zip_name: [ game.windows.debug, game.windows.release ]
        exclude:
          - build_type: Debug
            zip_name: game.windows.release
          - build_type: Release
            zip_name: game.windows.debug

    env:
      BUILD_TYPE: ${{ matrix.build_type }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pillow
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-shaderc
            mingw-w64-x86_64-vulkan-headers
            mingw-w64-x86_64-vulkan-loader
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-glew
            mingw-w64-x86_64-cglm
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-SDL2_mixer
          update: true

    - name: Convert github.workspace to mingw path
      shell: msys2 {0}
      run: echo "MINGW_WORKSPACE=$(cygpath -u '${{github.workspace}}')" >> $GITHUB_ENV

    - name: Configure CMake
      shell: msys2 {0}
      run: cmake -B "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      shell: msys2 {0}
      run: cmake --build "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" --config ${{ matrix.build_type }}

    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.zip_name }}
        path: |
          build-${{ matrix.build_type }}/game.exe
          build-${{ matrix.build_type }}/SDL2.dll
          build-${{ matrix.build_type }}/SDL2_mixer.dll
          build-${{ matrix.build_type }}/glew32.dll
          build-${{ matrix.build_type }}/zlib1.dll
          build-${{ matrix.build_type }}/libmpg123-0.dll
          build-${{ matrix.build_type }}/libFLAC.dll
          build-${{ matrix.build_type }}/libopusfile-0.dll
          build-${{ matrix.build_type }}/libvorbisfile-3.dll
          build-${{ matrix.build_type }}/libwavpack-1.dll
          build-${{ matrix.build_type }}/libxmp.dll
          build-${{ matrix.build_type }}/libvorbis-0.dll
          build-${{ matrix.build_type }}/libogg-0.dll
          build-${{ matrix.build_type }}/libwinpthread-1.dll
          build-${{ matrix.build_type }}/libopus-0.dll 
          build-${{ matrix.build_type }}/libgcc_s_seh-1.dll
          build-${{ matrix.build_type }}/libstdc++-6.dll
          build-${{ matrix.build_type }}/assets/
        retention-days: 90
