name: Windows Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        build_type: [ Debug, Release ]
        include:
          - build_type: Debug
            zip_name: game.windows.debug
          - build_type: Release
            zip_name: game.windows.release

    steps:
    - uses: actions/checkout@v5

    - name: Cache Dependencies
      uses: actions/cache@v5
      with:
        path: build-${{ matrix.build_type }}/_deps
        key: ${{ matrix.build_type }}-deps-${{ hashFiles('**/.git/HEAD') }}

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2.30.0
      with:
          msystem: UCRT64
          install: >-
            git
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-SDL2
            mingw-w64-ucrt-x86_64-SDL2_mixer
            mingw-w64-ucrt-x86_64-zlib
            mingw-w64-ucrt-x86_64-glew
            mingw-w64-ucrt-x86_64-cglm
          update: true

    - name: Convert github.workspace to mingw path
      shell: msys2 {0}
      run: echo "MINGW_WORKSPACE=$(cygpath -u '${{github.workspace}}')" >> $GITHUB_ENV

    - name: Configure & Build
      shell: msys2 {0}
      run: bash BuildForDistribution.sh "build-${{ matrix.build_type }}" ${{ matrix.build_type }}

    - name: Upload results
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.zip_name }}
        path: |
          build-${{ matrix.build_type }}/out/
        retention-days: 90
