name: Windows Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        build_type: [ Debug, Release ]
        zip_name: [ game.windows.debug, game.windows.release ]
        exclude:
          - build_type: Debug
            zip_name: game.windows.release
          - build_type: Release
            zip_name: game.windows.debug

    env:
      BUILD_TYPE: ${{ matrix.build_type }}

    steps:
    - uses: actions/checkout@v4

    - name: Cache Dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.strings.outputs.build-output-dir }}/_deps
        key: ${{ matrix.build_type }}-${{ matrix.c_compiler }}-deps-${{ hashFiles('**/.git/HEAD') }}

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pillow
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-shaderc
            mingw-w64-x86_64-vulkan-headers
            mingw-w64-x86_64-vulkan-loader
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-glew
            mingw-w64-x86_64-cglm
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-SDL2_mixer
            mingw-w64-x86_64-dlfcn
          update: true

    - name: Convert github.workspace to mingw path
      shell: msys2 {0}
      run: echo "MINGW_WORKSPACE=$(cygpath -u '${{github.workspace}}')" >> $GITHUB_ENV

    - name: Configure CMake
      shell: msys2 {0}
      run: cmake -B "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      shell: msys2 {0}
      run: cmake --build "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" --config ${{ matrix.build_type }}

    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.zip_name }}
        path: |
          build-${{ matrix.build_type }}/bin/
        retention-days: 90
